In [1]:
import numpy as np
import pandas as pd
import numpy_financial as npf

In [5]:
dic = {'year': [0,1,2,3,4], 'cash_flow': [-7700, 1900, 3000, 2300, 1700]}
dic = pd.DataFrame(dic)

sum_first_three = dic['cash_flow']

   year  cash_flow
0     0      -7700
1     1       1900
2     2       3000
3     3       2300
4     4       1700